[submodule "module/linux/lib/base64"]
	path = module/linux/src/base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
	branch = master
[submodule "module/linux/lib/SimpleIni"]
	path = module/linux/src/SimpleIni
	url = https://github.com/brofield/simpleini.git
	branch = master
[submodule "module/windows/lib/base64"]
	path = module/windows/src/base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
	branch = master
[submodule "module/macos/lib/base64"]
	path = module/macos/src/base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
	branch = master
[submodule "module/linux/lib/lodepng"]
	path = module/linux/src/lodepng
	url = https://github.com/lvandeve/lodepng.git
	branch = master
